html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #EDF6FF;
}

body {
    margin-bottom: 60px;
    background-color: #EDF6FF;
}



nav {
    background-color: transparent;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
}

/* TITULO MCSOPORTE*/
.navbar-brand {
    color: #6DAFFE;
    font-weight: 800;
}

.nav-link {
    font-weight: 500;
    color: dimgrey;
}
    .nav-link:hover {
        color: #6DAFFE;
    }

a {
    color: #435FC7;
}

footer {
    background-color: #6DAFFE;    
}